* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
/* red = #DC143C */

#app {
  padding: 0px;
  background-color: rgb(255, 255, 255);
  /* padding: 20px; */
}

#container {
  padding: 20px;
}

.container {
  padding: 20px;
}

.temp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  color: #526471;
  font-style: italic;
}

.zaglushka {
  height: 100px;
}
