* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  padding: 20px;
  background-color: rgb(209, 234, 221);
}

.temp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  color: #526471;
  font-style: italic;
}
